* {
  box-sizing: border-box;
}

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
} */

.container {
  align-items: center;
  gap: 20px;
  margin-top: 8.5rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #bad6c7;
  border-radius: 10px;
}
.character-detail-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.character-image {
  border: 6px solid #bad6c7;
  border-radius: 100%;
  overflow: hidden;
  margin-right: auto;
}
.character-details {
  margin-right: 20%;
}

.table-container {
  max-height: 600px;
  overflow-y: scroll;
  position: relative;
  overflow-x: auto;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  /* margin: 3rem; */
}

.table td,
.table th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #e0e1e218;
}

.table tr:hover {
  background-color: #f9d6d6;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e4e6e8;
  color: black;
  top: 0;
  position: sticky;
  z-index: 1;
  font-family: Trebuchet MS, Arial, Verdana;
}

.table-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.character-cell {
  display: block;

  width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
}
